#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #61DAFB;
}


.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #61DAFB;
    color: #FFF;
    border: 2px solid white;

}

.todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}

.todoListMain .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, 0.445);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;

    transition: background-color .2s ease-out;
       
}

.todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
}

ul.theList {
    padding: 0px;
}
